ul {
  margin: 0;
  padding: 0;
}
.chunk-upload-card {
  &-item {
    list-style: none;
    width: 104px;
    height: 104px;
    padding: 2px;
    cursor: pointer;
    border-color: #eeeeee;
    border-style: solid;
    background-color: #fafafa;
    border-width: 1px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    &-icon {
      margin-right: 14px;
      font-size: 2em;
    }
    &-progress {
    }
    &-info {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-right: 14px;
      flex: 1;
      & > span {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    button:nth-of-type(1) {
      margin-right: 8px;
    }
  }
}
